{% include 'navbar.html' %}

{% if request.user != user %}
<div>
    <h1>You do not have access to this page</h1>
</div>
{% endif %}

<div>
    <h1>{{user}}</h1>
    <hr>
</div>

<div class="user_addresses">
    <h1>Addresses</h1>
    {% if user_addresses %}
    <p><a href="{% url 'create_address' %}">Add new address</a></p>
    {% for add in user_addresses %}
    <div>
        <h3><a href="{% url 'edit_address' add.id %}"> Address {{add.id}}</a></h3><p><a href="{% url 'delete_address' add.id %}">Delete address</a></p>
        <h3>{{add.province}}</h3>
        <h3>{{add.city}}</h3>
        <h4>{{add.address}}</h4>
        <h4>{{add.postal_code}}</h4>
        <hr>
    </div>
    {% endfor %}
    {% else %}
        <p>You don't have any address</p>
        <a href="{% url 'create_address' %}">Add an address</a>
    {% endif %}
</div>

{% if agencies %}
<div class="user agency">
    <h1>Agency </h1>
    <hr>
    {% for agency in agencies %}
    <h3>{{agency.agency_province}}</h3>
    <h3>{{agency.agency_city}}</h3>
    <h4>{{agency.agency_address}}</h4>
    <h4>{{agency.agency_postal_code}}</h4>
    <h3>{{agency.agency_phone}}</h3>
    <h4>{{agency.open_time}}</h4>
    <hr>
    {% endfor %}
</div>
{% endif %}


<div class="sended_packages">
    <h1>Sended packages </h1>
    <hr>
    {% if sended_packages %}
    {% for package in sended_packages %}
    <h3>package: <a href="{% url 'track_package' package.id %}">{{package.id}}</a></h3>
    <h3>registration date {{package.created}}</h3>
    <h4>contents {{package.contents}}</h4>
    <h4>deliver at{{package.delivery}}</h4>
    <h3>reciever name{{package.receiver_name}}</h3>
    <h4>reciever phone{{package.receiver_phone}}</h4>
    <hr>
    {% endfor %}
</div>
{% endif %}


<div class="recieved_packages">
    <h1>Recieved packages </h1>
    <hr>
    {% if recieved_packages %}
    {% for package in recieved_packages %}
    <h3>package: <a href="{% url 'track_package' package.id %}">{{package.id}}</a></h3>
    <h3>registration date {{package.created}}</h3>
    <h4>contents {{package.contents}}</h4>
    <h4>deliver at{{package.delivery}}</h4>
    <h3>sender name{{package.sender_name}}</h3>
    <h4>sender phone{{package.sender_phone}}</h4>
    <hr>
    {% endfor %}
</div>
{% endif %}