{% include 'navbar.html' %}

{% if request.user != user %}
<div>
    <h1>You do not have access to this page</h1>
</div>

{% else %}
<div>
    <h1>{{user}}</h1>
    <hr>
</div>

<div class="user_addresses">
    <h1>Addresses</h1>
    {% if user_addresses %}
    <p><a href="{% url 'create_address' %}">Add new address</a></p>
    {% for add in user_addresses %}
    <div>
        <h3><a href="{% url 'edit_address' add.id %}"> Address {{add.id}}</a></h3><p><a href="{% url 'delete_address' add.id %}">Delete address</a></p>
        <h3>{{add.province}}</h3>
        <h3>{{add.city}}</h3>
        <h4>{{add.address}}</h4>
        <h4>{{add.postal_code}}</h4>
        <hr>
    </div>
    {% endfor %}
    {% else %}
        <p>You don't have any address</p>
        <a href="{% url 'create_address' %}">Add an address</a>
    {% endif %}
</div>

{% endif %}